<h2>Comments</h2>

<% if book.comments.any? %>
  <ul>
    <% book.comments.each do |comment| %>
      <li>
        <strong><%= comment.user.email %>:</strong>
        <p><%= comment.caption %></p>
        <small>Posted on <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %></small>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments yet. Be the first to comment!</p>
<% end %>
