<h3 class="text-white">History of taking</h3>

<% if book.actions.any? %>
  <div class="table-responsive history-table">
    <table class="table table-bordered text-white">
      <thead class="thead-dark">
        <tr>
          <th>User</th>
          <th>Date taken</th>
          <th>Date returned</th>
        </tr>
      </thead>
      <tbody>
        <% book.actions.each_with_index do |action, index| %>
          <tr>
            <td><%= action.user.email %></td>
            <td><%= book.requests[index].time_start.strftime("%B %d, %Y at %I:%M %p") %></td>
            <td><%= book.requests[index].time_end.strftime("%B %d, %Y at %I:%M %p") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="text-light">No history available for this book.</p>
<% end %>
