<h3>History of taking</h3>

<% if book.actions.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date taken</th>
        <th>Date returned</th>
      </tr>
    </thead>
    <tbody>
      <% book.actions.each_with_index do |action, index| %>
        <tr>
          <td><%= action.user.email %></td>
          <td><%= book.requests[index].time_start.strftime("%B %d, %Y at %I:%M %p") %></td>
          <td><%= book.requests[index].time_end.strftime("%B %d, %Y at %I:%M %p") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No history available for this book.</p>
<% end %>
