.star-rating {
  direction: rtl;
  font-size: 2rem;
  display: inline-block;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  color: #ddd;
  font-size: 2rem;
  cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label {
  color: #f7d106;
}
