.navbar-gray {
  background-color: #6c757d;
  .navbar-brand,
  .nav-link {
    color: #fff;
    &:hover {
      color: #dcdcdc;
    }
  }

  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .form-control {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: #6c757d;
    color: white;

    &:focus {
      border-color: #fff;
      background-color: #5a6268;
      color: white;
    }
  }

  .btn-outline-light {
    color: #fff;
    border-color: #fff;

    &:hover {
      background-color: #fff;
      color: #6c757d;
    }
  }
}

textarea {
  color: #fff !important;
}

.search-input {
  width: 100% !important;
  max-width: 300px;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc; 
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .search-input {
    max-width: 2500px;
    max-width: 100%;
  }
}
